{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/finches/finch-detail.css' %}"
/>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/finches/finch-detail.css' %}"
/>
<script defer src="{% static 'js/finch-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="finch-container">
  <div class="finch-img">
    <img 
      src="{% static 'images/sk8r-boi-finch.svg' %}" 
      alt="A skater boy finch"
    >
  </div>
  <div class="finch-details">
    <h1>{{ finch.name }}</h1>
    {% if finch.age > 0 %}
      <h2>A {{ finch.age }} year old {{ finch.type }}</h2>
    {% else %}
      <h2>A {{ finch.type }} kitten.</h2>
    {% endif %}
    <p>{{ finch.description }}</p>
    <div class="finch-actions">
      <a href="{% url 'finch-update' finch.id %}" class="btn warn">Edit</a>
      <a href="{% url 'finch-delete' finch.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/finch-cone.svg' %}" 
        alt="An ice cream cone finch"
      />
      <img 
        src="{% static 'images/finch-onigiri.svg' %}"
        alt="A finch as onigiri"
      />
      <img 
        src="{% static 'images/kitty-kabob.svg' %}" 
        alt="A kabob of kittens"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add-feeding' finch.id %}"
      method="post" 
      class="subsection-content"
			autocomplete="off"
    >
    {% if finch.fed_for_today %}
        <p class="fed">{{finch.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class="unfed">{{finch.name}} might be hungry!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in finch.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Toys</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ finch.name }}'s Toys</h3>
    <div class="subsection-content">
      {% if finch.toys.count %}
        {% for toy in finch.toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toy-detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{finch.name}} doesn't have any toys 😞</p>
      {% endif %}
    </div>
    <h3>Available Toys</h3>
    <div class="subsection-content">
      {% comment %} We'll display available toys here {% endcomment %}
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ toy.color }}"
            ></div>
            <a href="{% url 'toy-detail' toy.id %}">
              <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'assoc-toy' finch.id toy.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give toy</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{finch.name}} already has all the available toys 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}